body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    color: white;
}
input {
    margin: 10px;
}
.form{
    color: black;
    background-image: linear-gradient(#ff6252, #ff9e94);
    margin: 15%;
    border-radius: 30px;
    border-right: 1rem solid;
}
.form, h2{
    padding: 2%;
}
