<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accés Denegat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="static\icons\logo.png" type="image/x-icon">
</head>
<body>
    <header>
        <img src="/static/icons/logo.png" alt="icono"><br>
    </header>
    <main>
        <div class="error">
            <h1>403 - Accés Denegat</h1>
            <p>No tens permisos per accedir a aquesta secció.</p>
        </div>
    </main>
    <footer>
        <p>@Drets reservats per a l'equip 3 | 2025</p>
    </footer>
</body>

