<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="static\icons\logo.png" type="image/x-icon">
</head>
<body>
    <h2>Selecciona un Projecte i Configuración de Fuente para Generar el PDF</h2>
    <form action="/generate_pdf" method="post">
        <label for="proyecto">Elige un proyecto:</label>
        <select name="proyecto" id="proyecto">
            {% for proyecto in proyectos %}
                <option value="{{ proyecto }}">{{ proyecto }}</option>
            {% endfor %}
        </select>
        <br><br>
        
        <label for="font">Elige un tipo de letra:</label>
        <select name="font" id="font">
            {% for font in fonts %}
                <option value="{{ font }}">{{ font }}</option>
            {% endfor %}
        </select>
        <br><br>
        
        <label for="font_size">Elige un tamaño de letra:</label>
        <select name="font_size" id="font_size">
            {% for size in font_sizes %}
                <option value="{{ size }}">{{ size }}</option>
            {% endfor %}
        </select>
        <br><br>
        
        <button type="submit">Generar PDF</button>

        {% if session["rol"] == "professor"%}
        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
        <a href="{{ url_for('signup') }}">Registrar</a> 
        <a href="{{ url_for('notes') }}">Modificar notes</a> 
        <a href="{{ url_for('mostraprojectes') }}">Mostrarprojectes</a>  
        <a href="{{ url_for('indexprojectes') }}">Convertir a PDF</a>
        <a href="{{ url_for('projectes') }}">Nou projecte</a> 
        {% else %}
        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
        <a href="{{ url_for('projectes') }}">Nou projecte</a> 
        <a href="{{ url_for('projectes') }}">Notes</a> 
        {% endif %}
    </form>
    <footer>
        <p>@Drets reservats per a l'equip 3 | 2025</p>
    </footer>
</body>