<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afegir Dades Personals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="static\icons\logo.png" type="image/x-icon">
</head>
<body>
    <header>
        <img src="/static/icons/logo.png" alt="icono">
    </header>
    <main>
        <div class="dades">
            <img src="/static/icons/logo.png" alt="icono">
            <form method="POST" action="{{ url_for('afegir_dades_personals') }}">
                <input type="text" placeholder="Nom" id="nom" name="nom" required><br>
                <input type="text" placeholder="Cognom" id="cognom" name="cognom" required><br>
                <input type="number" placeholder="Edat" id="edat" name="edat" required><br>
                <input type="text" placeholder="Numero de telefon" id="telefon" name="telefon" required><br>
            
                <button type="submit">Actualitzar Dades</button>
            </form>
        </div>
        
        {% if missatge %}
            <p>{{ missatge }}</p>
        {% endif %}
    </main>
    <footer>
        <p>@Drets reservats per a l'equip 3 | 2025</p>
    </footer>
</body>