<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Bienvenido, {{ usuario }}</h2>
    <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
    <a href="{{ url_for('signup') }}">Registrar</a> 
    <a href="{{ url_for('notes') }}">Modificar notes</a> 
    <a href="{{ url_for('mostraprojectes') }}">Mostrarprojectes</a>  
    <a href="{{ url_for('crearpdf') }}">Convertir a PDF</a>
    <a href="{{ url_for('projectes') }}">Nou projecte</a> 
</body>