{% extends "base.html" %}
{% block title %}Bienvenido{% endblock %}
{% block content %}
<div class="proyects">
    <h2>Projectes:</h2>
    <ul>
        {% if proyectos %}
            {% for proyecto in proyectos %}
                <li>
                    <h3>{{ proyecto['nom_projecte'] }}</h3><br>
                    <img src="{{ url_for('static', filename='icons/content.png') }}" alt="content"> {{ proyecto['contingut'] }}<br>
                    <img src="{{ url_for('static', filename='icons/user.png') }}" alt="user"> {{ proyecto['usuario'] }}<br>
                    <img src="{{ url_for('static', filename='icons/book.png') }}" alt="book"> {{ proyecto['asignatura'] }}
                </li>
            {% endfor %}
        {% else %}
            <li>No tienes proyectos disponibles.</li>
        {% endif %}
    </ul>
</div>
{% endblock %}