<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="static\icons\logo.png" type="image/x-icon">
</head>
<body>

    <header>
        <img src="/static/icons/logo.png" alt="icono"><br>
    
        {% if session["rol"] == "professor"%}
        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
        <a href="{{ url_for('registrar') }}">Registrar</a> 
        <a href="{{ url_for('notes') }}">Modificar notes</a> 
        <a href="{{ url_for('mostraprojectes') }}">Gestionar Projectes</a>  
        <a href="{{ url_for('projectes') }}">Nou projecte</a> 
        <a href="{{ url_for('indexprojectes') }}">Convertir a PDF</a>
        <a href="{{ url_for('canviarcontra') }}">Canviar contraseña</a>
        <a href="{{ url_for('listar_usuaris') }}">Llistar usuaris</a>

        {% else %}
        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
        <a href="{{ url_for('projectes') }}">Nou projecte</a> 
        <a href="{{ url_for('mostraprojectes') }}">Gestionar Projectes</a>  
        <a href="{{ url_for('indexprojectes') }}">Convertir a PDF</a>
        {% endif %}
    </header>

    <div class="user">
        <img src="/static/icons/usuario.png" alt="usuario">
        {% if session["rol"] == "professor"%}
        <a>{{ usuario}}| Professor</a>
        {% else %}
        <a>{{ usuario }} | Alumne</a>
        {% endif %}
    </div>

    <h2>Projectes:</h2>
    <ul>
        {% if proyectos %}
            {% for proyecto in proyectos %}
                <li>
                    <strong>{{ proyecto['nombre'] }}</strong><br>
                    Contenido: {{ proyecto['contenido'] }}<br>
                    Usuario: {{ proyecto['usuario'] }}<br>
                    Asignatura: {{ proyecto['asignatura'] }}
                </li>
            {% endfor %}
        {% else %}
            <li>No tienes proyectos disponibles.</li>
        {% endif %}
    </ul>
    <footer>
        <p>@Drets reservats per a l'equip 3 | 2025</p>
    </footer>
</body>
