{% extends "base.html" %}
{% block title %}Index Projecte{% endblock %}
{% block content %}
<div class="form-container">
    <h1>Selecciona un projecte per a descarregar</h1>
    <form method="POST">
        <label for="proyecto">Selecciona un projecte:</label>
        <select name="proyecto" id="proyecto" required>
            <option value="" disabled selected>Selecciona un projecte</option>
            {% for proyecto in proyectos %}
                <option value="{{ proyecto.nom_projecte }}">{{ proyecto.nom_projecte }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Generar PDF</button>
    </form>
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}
</div>
{% endblock %}