<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="static\icons\logo.png" type="image/x-icon">
</head>
<body style="background-color: #f0f0f0;">
    <header>
        <img src="/static/icons/logo.png" alt="icono">
    </header>
    
    <main>
        <div class="login">
            <h2>Inicia Sessió</h2>
        {% if mensaje %}
            <p style="color: red;">{{ mensaje }}</p>
            {% endif %}
        <form method="POST">
            <img src="/static/icons/usuario.png" alt="usuario">
            <input type="text" placeholder="Insereix el teu nom" name="usuario" required>
            <br>
            <img src="/static/icons/llave.png" alt="usuario" >
            <input type="password" placeholder="Insereix la teva contraseña" name="contraseña" required>
            <br>
            <button type="submit">Ingresar</button>
        </form>
        </div>
    </main>
    <footer>
        <p>@Drets reservats per a l'equip 3 | 2025</p>
    </footer>
</body>