<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form">
        <h2>Iniciar Sesión</h2>
    {% if mensaje %}
        <p style="color: red;">{{ mensaje }}</p>
    {% endif %}
    <form method="POST">
        <label>Usuario:<i class="fa-solid fa-house"></i></label>
        <input type="text" name="usuario" required>
        <br>
        <label>Contraseña:</label>
        <input type="password" name="contraseña" required>
        <br>
        <button type="submit">Ingresar</button>
        <a href="{{ url_for('cambiarcontra') }}">Olvidaste la contraseña?</a>
    </form>
    </div>
</body>
</html>
