<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projectes alumnes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
            
        {% if mensaje %}
            <p style="color: red;">{{ mensaje }}</p>
        {% endif %}
        <form method="POST">
            <h2>Lista de Proyectos</h2>
        <form method="POST">
            <a href="{{ url_for('mostraprojectes') }}">buscar</a>
            <a href="{{ url_for('notes') }}">Notes</a>   
            <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
            <a href="{{ url_for('projectes') }}">Nou projecte</a> 
            <a href="{{ url_for('homeadmin') }}">Home</a> 
            <br></br>

            <label for="buscasignatura">Buscar por Asignatura:</label>
            <select id="opciones" name="buscasignatura">
                <option value="Catala">Catala</option>
                <option value="Castella">Castella</option>
                <option value="Angles">Angles</option>
                <option value="Balatro">Balatro</option>
            </select>
            <button type="submit">Ingresar</button>

        </form>
    
        <table border="1">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombre del Proyecto</th>
                    <th>Asignatura</th>
                    <th>Contenido</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in datos %}
                <tr>
                    <td>{{ proyecto.usuario }}</td>
                    <td>{{ proyecto.Nomprojecte }}</td>
                    <td>{{ proyecto.asignatura }}</td>
                    <td>{{ proyecto.contenido }}</td>
                    <td>{{ proyecto.notes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </form>
</body>
</html>