{% extends "base.html" %}
{% block title %}Notes{% endblock %}
{% block content %}
{% if mensaje %}
    <p style="color: red;">{{ mensaje }}</p>
{% endif %}
<h1>Modificar Notes dels Projectes</h1>

<!-- Formulario para filtrar proyectos -->
<form method="POST">
    <label for="buscusuari">Usuari:</label>
    <input type="text" id="buscusuari" name="buscusuari" required>
    
    <label for="buscprojecte">Projecte:</label>
    <input type="text" id="buscprojecte" name="buscprojecte" required>

    <label for="buscasignatura">Asignatura:</label>
    <input type="text" id="buscasignatura" name="buscasignatura" required>

    <label for="nota">Nota:</label>
    <input type="text" id="nota" name="nota" required>

    <button type="submit">Modificar Nota</button>
</form>

<h2>Llista de projectes</h2>
{% if datos %}
    <table border="1">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Projecte</th>
                <th>Asignatura</th>
                <th>Contingut</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in datos %}
                <tr>
                    <td>{{ proyecto.usuario }}</td>
                    <td>{{ proyecto.Nomprojecte }}</td>
                    <td>{{ proyecto.asignatura }}</td>
                    <td>{{ proyecto.contenido }}</td>
                    <td>{{ proyecto.notes }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hi ha projectes per a mostrar</p>
{% endif %}
{% endblock %}