<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nou projecte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Nou projecte</h2>
    {% if mensaje %}
        <p style="color: red;">{{ mensaje }}</p>
    {% endif %}
    <form method="POST">
        {% if session["admin"] == "1"%}
        <h2>Zona Administrativa</h2>
        <p>Esta sección solo es visible para administradores.</p>
        {% else %}
        <p>No tienes acceso a esta sección.</p>
        {% endif %}
        <label>Nom nou projecte:</label>
        <input type="text" name="Nomprojecte" required>
        <br></br>
        <label>Contingut projecte:</label>
        <input type="text" name="contingut" required>
        <br></br>
        <label for="opciones">Asignatura:</label>
        <select id="opciones" name="asignatura">
            <option value="Catala">Catala</option>
            <option value="Castella">Castella</option>
            <option value="Angles">Angles</option>
            <option value="Balatro">Balatro</option>
        </select>
        <br></br>
        <button type="submit">Ingresar</button>
        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
        <a href="{{ url_for('homeadmin') }}">Home</a>
        <a href="{{ url_for('convertir') }}">Convertir a pdf</a>
    </form>
</body>