{% extends "base.html" %}
{% block title %}Registre Usuaris{% endblock %}
{% block content %}
<div class="recount">
    <h2>Registrar usuari</h2>
    {% if mensaje %}
    <p style="color: red;">{{ mensaje }}</p>
    {% endif %}

    <!-- Selector de rol -->
    <form method="get" action="/registrar">
        <label for="rolusuari">Selecciona el rol:</label>
        <select id="rolusuari" name="rolusuari" onchange="this.form.submit()">
            <option value="">-- Selecciona --</option>
            <option value="alumne" {% if rol == 'alumne' %}selected{% endif %}>Alumne</option>
            <option value="Professor" {% if rol == 'Professor' %}selected{% endif %}>Professor</option>
        </select>
    </form>

    {% if rol %}
    <!-- Formulario de registro -->
    <form method="post" action="/registrar?rolusuari={{ rol }}">
        <input type="hidden" name="rolusuari" value="{{ rol }}">
        
        <label>Usuari:</label>
        <input type="text" name="usuario" required><br><br>

        <label>Contraseña:</label>
        <input type="password" name="contrasena" required><br><br>

        <label>Nom:</label>
        <input type="text" name="nombre" required><br><br>

        <label>Cognom:</label>
        <input type="text" name="apellido" required><br><br>

        <label>Edat:</label>
        <input type="number" name="edad" required><br><br>

        <label>Teléfon:</label>
        <input type="text" name="telefono" required><br><br>

        {% if rol == 'alumne' %}
            <p>El Identificador del Alumno se asignará automáticamente</p>
            <input type="hidden" name="Professor" value="0">
        {% else %}
            <input type="hidden" name="Professor" value="1">
        {% endif %}

        <button type="submit">Registrar {{ rol.capitalize() }}</button>
    </form>
    {% endif %}

    </form>
</div>
{% endblock %}