<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="static\icons\logo.png" type="image/x-icon">
</head>
<body>  
    <h2>Registrar usuari</h2>
    {% if mensaje %}
        <p style="color: red;">{{ mensaje }}</p>
    {% endif %}
    <form method="POST">
        <label>Usuario:</label>
        <input type="text" name="usuario" required>
        <br>
        <label>Contraseña:</label>
        <input type="password" name="contraseña" required>
        <br>
        <br>
        <label>Professor:</label>
        <input type="text" name="professor">
        <br>
        <button type="submit">Ingresar</button>
        {% if session["rol"] == "professor"%}
        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
        <a href="{{ url_for('signup') }}">Registrar</a> 
        <a href="{{ url_for('notes') }}">Modificar notes</a> 
        <a href="{{ url_for('mostraprojectes') }}">Mostrarprojectes</a>  
        <a href="{{ url_for('indexprojectes') }}">Convertir a PDF</a>
        <a href="{{ url_for('projectes') }}">Nou projecte</a> 
        {% endif %}
    </form>
    <footer>
        <p>@Drets reservats per a l'equip 3 | 2025</p>
    </footer>
</body>
