<!DOCTYPE html>
<html lang="ca">
{% extends "base.html" %}

{% block title %}Llista de usuaris{% endblock %}

{% block content %}
<main>
    <h2>Llistat de usuaris</h2>
    <table>
        <thead>
            <tr>
                <th>Login</th>
                <th>Usuari</th>
                <th>Contrasenya</th>
                <th>Nom</th>
                <th>Cognom</th>
                <th>Edad</th>
                <th>Telèfon</th>
                <th>Rol</th>
                <th>Plaça Fixa</th>
                <th>Identificador Alumne</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuaris %}
            <tr>
                <td>{{ usuario.get("usuario", "-") }}</td>
                <td>{{ usuario.get("usuario", "-") }}</td>
                <td>********</td> <!-- No mostramos la contraseña -->
                <td>{{ usuario.get("nom", "-") }}</td>
                <td>{{ usuario.get("cognom", "-") }}</td>
                <td>{{ usuario.get("edat", "-") }}</td>
                <td>{{ usuario.get("telefon", "-") }}</td>
                <td>{{ usuario.get("rol", "-") }}</td>
                <td>{{ usuario.get("placa_fixa", "-") }}</td>
                <td>{{ usuario.get("identificador_alumne", "-") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}