<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llista de usuaris</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="static\icons\logo.png" type="image/x-icon">
</head>

<body>
    <header>
    <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
    <a href="{{ url_for('signup') }}">Registrar</a> 
    <a href="{{ url_for('notes') }}">Modificar notes</a> 
    <a href="{{ url_for('mostraprojectes') }}">Mostrarprojectes</a>  
    <a href="{{ url_for('projectes') }}">Nou projecte</a> 
    <a href="{{ url_for('indexprojectes') }}">Crearpdf</a>
    <a href="{{ url_for('cambiarcontra') }}">Cambiar contraseña</a>
    <a href="{{ url_for('home') }}">Home</a>
    </header>
    <h2>Llistat de usuaris</h2>

    <table>
        <thead>
            <tr>
                <th>Login</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Teléfono</th>
                <th>Rol</th>
                <th>Placa Fija</th>
                <th>Identificador Alumno</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.get("usuario", "-") }}</td>
                <td>{{ usuario.get("usuario", "-") }}</td>
                <td>********</td>  <!-- No mostramos la contraseña -->
                <td>{{ usuario.get("nom", "-") }}</td>
                <td>{{ usuario.get("cognom", "-") }}</td>
                <td>{{ usuario.get("edat", "-") }}</td>
                <td>{{ usuario.get("telefon", "-") }}</td>
                <td>{{ usuario.get("rol", "-") }}</td>
                <td>{{ usuario.get("placa_fixa", "-") }}</td>
                <td>{{ usuario.get("identificador_alumne", "-") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>