<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="static\icons\logo.png" type="image/x-icon">
</head>
<body>
    <h2>Notes</h2>
    {% if mensaje %}
        <p style="color: red;">{{ mensaje }}</p>
    {% endif %}
    <form method="POST">
        <label>Buscar Usuaris:</label>
        <input type="text" name="buscusuari">
        <br></br>
        <label for="opciones">Asignatura:</label>
        <select id="opciones" name="buscasignatura">
            <option value="Catala">Catala</option>
            <option value="Castella">Castella</option>
            <option value="Angles">Angles</option>
            <option value="Balatro">Balatro</option>
        </select>
        <br></br>
        <button type="submit">Ingresar</button>
    </form>
    <footer>
        <p>@Drets reservats per a l'equip 3 | 2025</p>
    </footer>
</body>
